In [1]:
%matplotlib inline

import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import gmaps
import gmaps.datasets
gmaps.configure(api_key="AIzaSyDnBFOnhjTLEumGUqa4qgrEeRBQlLsV2eA")


plt.style.use('default') # haciendo los graficos un poco mas bonitos xD
plt.rcParams['figure.figsize'] = (15, 5)

In [2]:
subtes = pd.read_csv('estaciones-de-subte.csv',encoding='latin-1')

In [3]:
subtes.head()

           X          Y   ID                ESTACION LINEA
0 -58.398928 -34.635750  1.0                 CASEROS     H
1 -58.400970 -34.629376  2.0                  INCLAN     H
2 -58.402323 -34.623092  3.0             HUMBERTO 1°     H
3 -58.404732 -34.615242  4.0               VENEZUELA     H
4 -58.406036 -34.608935  5.0  ONCE - 30 DE DICIEMBRE     H

In [4]:
subtes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 5 columns):
X           86 non-null float64
Y           86 non-null float64
ID          86 non-null float64
ESTACION    86 non-null object
LINEA       86 non-null object
dtypes: float64(3), object(2)
memory usage: 3.4+ KB

In [5]:
subtes_geo = subtes[['ID','Y','X']]

In [6]:
location = subtes_geo[['Y','X']]
# heatmap = gmaps.heatmap_layer(location)
subtes_geo = gmaps.symbol_layer(
    location, fill_color = "red", stroke_color= "red", scale = 4
)
fig = gmaps.figure()
fig.add_layer(subtes_geo)
fig